<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="JSLibraries/jquery-3.4.1.min.js"></script>
<script src="JSLibraries/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="JSLibraries/bootstrap/css/bootstrap.min.css">
<script src="editor/editormd.js"></script>
<link rel="stylesheet" href="editor/css/editormd.min.css">
<body>
<div th:insert="~{/Common/navigation :: nav}"></div>
<div th:insert="~{/Common/publish/editor :: editor}"></div>
</body>
</html>